image: Visual Studio 2019
configuration: Release
build:
  verbosity: minimal

environment:
  # Don't report back to the mothership
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

skip_branch_with_pr: true

install:
  - ps: Switch-DockerLinux
  - ps: dotnet tool install -g Codecov.Tool
  - ps: dotnet tool install -g GitVersion.Tool

before_build:
  - ps: dotnet gitversion /l console /output buildserver

build_script:
  - ps: .\build.ps1

test_script:
  - ps: .\test.ps1

artifacts:
  - path: 'src\**\Release\*.nupkg'
    name: NuGet Packages
  - path: 'src\**\Release\*.snupkg'
    name: NuGet Symbol Packages

deploy:
  - provider: NuGet
    api_key:
      secure: 72rwPy1mwTmTCv7FivCplkzsGnzS+EVNu82+6xIly3Pz7V9gnP0rRNXr1wnQkHpc
